%h2 DJ Pompey
:markdown
  In downtown Columbia, MO, I sometimes go by my alter ego, DJ Pompey.
  You may have seen him spinning at Mojo's, The Blue Fugue, The Blue Note, 
  Cafe Berlin, Eastside Tavern, The Hair Hole, Tin Can, etc...

  *  [Check out my BandCamp profile](http://djpompey.bandcamp.com)!
  *  [Some YouTube footage](http://www.youtube.com/user/djpompey)

:plain
  <object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/_qsq1LFomyg&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/_qsq1LFomyg&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>

