%h2 DJ Pompey
:markdown
  In downtown Columbia, MO, I sometimes go by my alter ego, DJ Pompey.
  You may have seen him spinning at Sideshow, Mojo's, The Blue Fugue, 
  The Blue Note, 
  Cafe Berlin, Eastside Tavern, The Hair Hole, Tin Can, etc...

%iframe(src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FDJ-Pompey%2F102027889872809&amp;width=292&amp;colorscheme=light&amp;show_faces=false&amp;stream=false&amp;header=false&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;" allowTransparency="true")


:plain
  <object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/_qsq1LFomyg&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/_qsq1LFomyg&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
:markdown
  *  [Check out my BandCamp profile](http://djpompey.bandcamp.com)!
  *  [Some YouTube footage](http://www.youtube.com/playlist?list=PL514895988A3490A0&feature=plcp)
