:markdown
  Hello, and welcome to my homepage.
  I am [Ray Myers](mailto:ray.myers@gmail.com),
  I went to Missouri University of Science and Technology (MST), formerly known 
  as UMR.

  My undergraduate degree was in Computer Science with emphasis in
  Mathematics. If that doesn't pique your interest then there probably isn't
  much here for you.

  Here's a recent [resume](Ray.Myers-Resume-2010.04.17.pdf).
  I currently work as a software developer at [Carfax](http://carfax.com)
  in Columbia, MO.

%p
  %a(href="http://cadrlife.blogspot.com/")My Blog
%p
  %a(href="http://umr.facebook.com/profile.php?id=121201166")My Facebook profile
%p
  %a(href="http://del.icio.us/djpompey")My del.icio.us bookmarks
%p
  %a(href="http://validator.w3.org/check?uri=referer")
    %img(src="http://venturas.org/sites/default/files/valid_html50_blue.png" alt="Valid HTML 5.0" style="width:80px;height:15px;vertical-align:middle;")
