:markdown
  ###Diversions
  ####Podcasts
  [The Skeptics Guide to the Universe](http://www.theskepticsguide.org)
  Your escape to reality.

  [Philosophy Bites](http://www.nigelwarburton.typepad.com/philosophy_bites/)
  Top philosophers interviewed on bite-sized topics.

  ####Comics
  [XKCD](http://www.xkcd.com/)
  A webcomic of romance, sarcasm, math, and language.

  ####News
  [Slashdot](http://www.slashdot.org/)
  News for nerds, stuff that matters.

  [programming.reddit.com](http://programming.reddit.com/)
  I once won a beer in Taiwan by posting a dozen lines of Lisp
  [here](http://programming.reddit.com/info/61aao/comments/c02iuwx?context=3).

  ####Games
  [Final Fantasy Wiki](http://finalfantasy.wikia.com/)
  For all your boss hunting needs.
  ###People
  ####Computer Science
  [Don Knuth](http://www-cs-faculty.stanford.edu/~knuth/)  
  The Professer Emeritus of The Art of Computer Programming.
  
  [Peter Norvig](http://norvig.com/)  
  Author of the worlds leading Artificial Intelligence text book.
  Old-School Lisper. Director of Research at Google.


  [John McCarthy](http://www-formal.stanford.edu/jmc/)
  The original Lisper.
  Yet another Computer Science legend at Stanford.

  [Marvin Minsky](http://web.media.mit.edu/~minsky/)
  Why can't computers think yet? Ask him!

  [Paul Graham](http://www.paulgraham.com/)
  Outspoken essayist. Old-School Lisper. Angel invester.

  [Audrey Tang](http://pugs.blogs.com/audrey/)
  Skilled Haskeller, the last best hope for Perl 6.

  [Chris Gore](http://www.cgore.com/)
  Friend from grad school. Hire him!

  [Daniel Tauritz](http://web.umr.edu/~tauritzd/)
  Teaches Artificial Intelligence and Evolutionary Computation at MST.

  ####Linguistics
  [Noam Chomsky](http://www.chomsky.info/)
  The man, the legend.

  [Larry Wall](http://www.wall.org/~larry/)
  This is not misfiled.

