:markdown
  ##Kung Fu
  I am a novice in [Bu Ting Xi](http://www.btxkungfu.com/),
  a Mantis / Long Fist school in Columbia, MO.

  Though not currently active, I'm also 7th chamber pupil of the 
  [Shaolin Lohan School of Kungfu](http://shaolinkungfu.org/).
  This means I am about two years into a 50 year system.

  Both schools come highly recommended.

