:markdown
  ##Programming contests
  * 2009: MST Megaminer IV, 2nd place
  * 2007: UIUC ACM's Mechmania XIII, 2nd place
  * 2006: UIUC ACM's Mechmania XII, 1st place
  * 2005: MST Artificial Intelligence Tournament, 1st place

  ##Languages I am learning
  * Fortress
  * Erlang
  * Haskell
  * Scala

  ##Languages I have used (chronological order)
  I started programming as soon as I could read... possibly a little sooner.
  It is said that the first two words I could spell were "Syntax Error."
  Let it be known that the measure of a programmer is NOT how many languages they know. 
  Knowing English, Spanish, French, and Hebrew would not turn you into Earnest Hemingway.
  
  * IBM PC Jr. BASIC
  * QBasic
  * Visual Basic
  * Pascal
  * C++
  * Perl
  * Javascript/ECMAScript
  * Assembler
  * C
  * Matlab
  * Python
  * Java
  * Common Lisp
  * Scheme
  * Arc
  * Ruby
  * Groovy

  Yes I know HTML; no it is not a programming language. HTML is a markup language.
