:markdown
  ##Projects
  These are some of the projects I am involved with outside of work.
  ###Ratpack
  [Ratpack](http://github.com/bleedingwolf/Ratpack) is web micro-framework written in groovy, influenced by Sinatra from the Ruby world.
  Maintained by [Justin Voss](http://justinvoss.com/) and myself. Formerly the #1 trending repo on Github! This website is running in it right now!
  ###JHaml
  [JHaml](http://github.com/raymyers/JHaml) is a Java port of [Haml](http://haml-lang.com/)
  (XHTML Abstraction Markup Language). The goal is to do for enterprise Java web development what Haml did for Rails. I started this project in February 2010.
  ###MPC-Lib
  [MPC-Lib](http://github.com/raymyers/MPC-Lib)
  is a Java library for reading and writing 
  [MPC 1000](http://www.akaipro.com/mpc1000) PGM files.
  ###TTracer
  Formerly known as GNAT,
  [TTracer](http://ray.codezen.org/wiki/)
  is a program for use in Computer Science courses -- 
  specifically those involving graph searching and game theory.
  ###Canto
  [Canto](http://codezen.org/canto/)
  is a console RSS feed reader written by my friend Jack Miller. Watch out, [Raggle](http://www.raggle.org/)!
  ###ParenScript
  [ParenScript](http://common-lisp.net/project/parenscript/)
  is a small lisp-like language that compiles to JavaScript. 
  To date I have exactly one patch.
