%h2 Quotes
.quotes
  %p I haven't attached foot pedals to my computer yet, but I do use all the function keys! -- Don Knuth (on Emacs)
  %p A language that doesn't affect the way you think about programming, is not worth knowing. -- Alan Perlis
  %p We were not out to win over the Lisp programmers; we were after the C++ programmers. We managed to drag a lot of them about halfway to Lisp. -- Guy Steele (on Java)
  %p The continuation that obeys only obvious stack semantics, O grasshopper, is not the true continuation. -- Guy Steele (on Scheme)
  %p If McDonald's stopped packaging lettuce with burgers, the number of lettuce users would go down. -- Guy Steele
  %p Conses don't grow on trees! -- Gerald Jay Sussman
  %p The first Lisp interpreter was a result of a programmer ignoring his boss's advice. -- Peter Norvig
  %p We baked you a cake shaped like the internet! -- Peter Norvig (to Randall Munroe)
  %p I would much rather ruffle feathers and make progress than sacrifice progress on the alter of warm fuzziness. -- Joe Corrao
  %p The pointy-haired boss is a manager who doesn't program. -- Paul Graham
  %p I want to improve the *very* local economy. -- Chris Gore (gesturing at himself)
  %p Quotes are officially stupid. -- Chris Gore
  %p Sleep is a Good Thing. -- Daniel Tauritz
  %p The Google is not allowed to use The Ruby. -- Yukihiro `Matz' Matsumoto
  %p I love contrarian views. I disagree with this one, though. -- Marvin on arclanguage.org
  %p You cannot solve problems by coding, you can only solve them by thinking. -- Ariadne
  %p I always learn best when I write a compiler. -- Martin Odersky
  %p No lighthouse sees the entire world. -- Joe Castellano
  %p Ten-thousand throats may be cut in one night by a dangling pointer. -- Ray Myers
  %p 'Written in Haskell,' does not count as a feature. -- Ray Myers
  %p 'Written in just about 36000 lines of pure C,' does not count as a feature either. -- Ray Myers
  %p Don't tell me conses don't grow on trees, because that's exactly where they grow! -- Ray Myers

